<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/shul.css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <nav>
        <ul>
            <%for( var i=0;i<nav.length;i++){%>
                <li>
                    <a href="<%=nav[i].Link%>">
                        <%=nav[i].Text%>
                    </a>
                </li>
                <%}%>
        </ul>
    </nav>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facilis accusantium sint nam, inventore ut libero. Ad animi id at esse, repellat cumque. Porro rerum ipsam autem vero, nesciunt debitis obcaecati quia possimus voluptas culpa! Dolorum ratione
        esse voluptatum, temporibus saepe itaque molestiae earum impedit ut voluptate tempore possimus, consectetur sed nemo suscipit provident dignissimos error eaque, ducimus perferendis dicta commodi facilis labore, repellat. Alias voluptates, fuga
        quod. Assumenda suscipit recusandae culpa obcaecati iure tempora similique quasi ab, optio illo vel placeat debitis vero expedita at voluptas totam commodi officia sequi sit quaerat quibusdam autem! Excepturi tempore, aut laborum vero optio aspernatur
        quos fugit eveniet veniam, voluptatem dicta quae et, magni ea numquam consequuntur esse ex ad rem! Veniam ipsam nostrum quos voluptas, maiores nulla vel ratione eaque soluta cum quaerat rem tempore magni, dolores est quidem! Numquam ipsum, temporibus!
        Ex molestias laborum officiis expedita! Excepturi, sunt itaque laudantium iusto, fugiat quos neque esse ullam recusandae vero? Quo voluptatum voluptas ist quas. Officiis facere laudantium, assumenda amet, velit aliquam id quae incidunt adipisci
        quas rum iusto sunt, veritatis expedita culpa alias sed rerum laboriosam aperiam modi. Illum voluptas quae quidem, quaerat. Rem in inventore quo consequatur vitae maiores earum animi doloribus consectetur recusandae, cupiditate magni, ipsum placeat
        officia hic esse? Ad maxime alias a debitis cumque adipisci. Accusamus ut dolores possimus vero cumque. Assumenda adipisci sunt asperiores cupiditate error inventore libero quis et magni nostrum autem enim veritatis esse sed ut, eligendi deserunt
        ipsum quasi natus ea quos! Voluptates suscipit vel officiis laborum nobis itaque velit quidem culpa optio ut dolores in nesciunt, quo quam odio, sed molestiae animi quas impedit nulla. Quaerat harum doloremque, nobis consectetur, voluptatum dolorem
        numquam. Fugiat rerum aliquam labore eius nobis iste aut doloremque a. Eum neque soluta tempore recusandae dolorem tenetur expedita labore commodi aspernatur blanditiis! Quis , provident saepe magni id earum nostrum exercitationem quam maiores
        omnis enim illo, modi praesentium quod, ipsam animi incidunt commodi. Ipsam placeat rem amet explicabo eius unde impedit accusantium voluptates nihil saepe at qui error quo voluptatum necessitatibus, odio minus totam, debitis inventore voluptatem
        nostrum fugit non itaque dolorum. Recusandae eveniet officiis aliquid eaque iste odit nobis, magnam quae veniam, tempore repellendus saepe vitae quia ex magni minus eligendi suscipit odio, dolorem deleniti. Incidunt rem beatae aliquid laudantium
        maiores magnam! Error, harum tempore, odio ut explicabo tempora consequatur odit itaque et reprehenderit facere doloremque consectetur debitis non laudantium veniam maxime minima quia fugiat veritatis nulla laborum magni. Labore similique, cum
        fugit excepturi libero id quod. Dicta repellat, harum at. Beatae deleniti commodi facilis sapiente eos! Delectus sed ducimus harum. Architecto maiores fugit nesciunt, ut alias dolor sapiente velit numquam consectetur dignissimos necessitatibus
        delectus, nemo quasi placeat perspiciatis excepturi consequatur. Necessitatibus repellendus eos dolores natus eius cumque veniam quibusdam excepturi, molestias magni, ratione harum obcaecati quae impedit a! Rem aperiam dignissimos aut nisi animi,
        minima ea, tenetur nostrum natus saepe dolorum reiciendis nulla, odit enim voluptatem eveniet necessitatibus soluta! Error, tempora, quis. Libero soluta minus, sunt porro, totam doloremque!

    </p>

</html>